#Ignore Migration Files
FinalProject/FinalProject/Migrations/*

#Ignore Appsettings.json files on test project
GeminiDataParsingTestProject/GeminiDataParsingTestProject/appsettings.json

#Ignore Appsettings.json files on main project files
FinalProject/FinalProject/appsettings.json

#Had to add these to push all the changes
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore all appsettings.json inside bin/ and obj/ folders
**/bin/**/appsettings.json
**/obj/**/appsettings.json
bin/
obj/
