@model FinalProject.Models.Entities.Course

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassMeetingDays" class="control-label"></label>
                <input asp-for="ClassMeetingDays" class="form-control" />
                <span asp-validation-for="ClassMeetingDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassStartTime" class="control-label"></label>
                <input asp-for="ClassStartTime" class="form-control" />
                <span asp-validation-for="ClassStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassEndTime" class="control-label"></label>
                <input asp-for="ClassEndTime" class="form-control" />
                <span asp-validation-for="ClassEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyLevel" class="control-label"></label>
                <input asp-for="DifficultyLevel" class="form-control" />
                <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseColor" class="control-label"></label>
                <input asp-for="CourseColor" class="form-control" />
                <span asp-validation-for="CourseColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class ="form-control" asp-items="ViewBag.ScheduleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
