@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<link rel="stylesheet" href="~/css/style.css">

<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    h1, h2, .checkboxmb-3 {
        color: white
    }
</style>

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div>

    <h3>This page is still in development at this time. Please try again later.</h3>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
