@model FinalProject.Models.Entities.Schedule
<link rel="stylesheet" href="~/css/style.css">

<style>
    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .btn-secondary{
        background-color:dodgerblue
    }
</style>

<h2>Delete Schedule</h2>

<p>Are you sure you want to delete the schedule "<strong>@Model.Title</strong>"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

