/* style.css */
center{
    color:white;
}
    
    center h2{
        font-size: 56px;
    }

body {
    background-image: linear-gradient(to bottom, gray, black);
}

h3{
    color:white;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.tiles-container {
    display: flex;
    gap: 20px;
}

.tile {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

    .tile:hover {
        transform: scale(1.05);
    }

.tile-schedule {
    flex: 0.3;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.tile-schedule:hover {
    transform: scale(1.05);
}

.circular-add-button {
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 50%; /* Makes it circular */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    font-size: 30px;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .circular-add-button:hover {
        background-color: white; /* White on hover */
        color: black;
    }

footer{
    color:white;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mb-3 {
    margin-bottom: 1rem;
}

.btn i {
    margin-right: 5px;
}

.btn-danger {
    margin-right: auto;
}

    .btn-danger:hover {
        background: #bd2130;
        transform: scale(1.02);
    }

#addEventSpinner {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.addEventBtn {
    background-color: #2c3e50
}