<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>SyllaSmart</title>
</head>

<center><h2>Welcome to SyllaSmart!</h2></center>
<center><h3>Built for students to work smarter, not harder</h3></center>

<body>
    <main>
        <section class="tiles-container">
            <div class="tile">
                <h2>Curated Calendars For Students To Succeed!</h2>
                <p>
                    Upload one or more course syllabi and let our AI automatically create study blocks, exam reminders, and assignment deadlines for you to stay organized!
                </p>
            </div>

            <div class="tile">
                <h2>Create A Schedule For Each Of Your Courses!</h2>
                <p>
                    Each schedule you create will go into the calendar creation process to properly connect each syllabus to its corresponding course.
                </p>
            </div>

            <div class="tile">
                <h2>Tile 3</h2>
                <p>
                    
                </p>
            </div>

            <div class="tile">
                <h2>Tile 4</h2>
                <p>
                    
                </p>
            </div>
        </section>
    </main>
</body>