@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/style.css">

<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    h1, h2, .checkboxmb-3 {
        color: white
    }
</style>
<center><h1>@ViewData["Title"]</h1></center>
<br />
<center><strong><h3>Please note that this application uses experimental Generative AI is through Google's Gemini API.</h3></strong></center>
<center><h3>Our API is only meant to parse through syllabi, ensuring that a user's personal data is NEVER sent through it.</h3></center>
