@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/style.css">
<center><h1>@ViewData["Title"]</h1></center>
<br />
<h3>Please note that this application uses experimental Generative AI is through Google's Gemini API.</h3>
<h3>Our API is only meant to parse through syllabi, ensuring that a user's personal data is NEVER sent through it.</h3>
