@using Microsoft.AspNetCore.Identity
@using FinalProject.Models.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-user-circle"></i>
            <span>@User.Identity?.Name</span>
        </a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="display: inline;">
            <button type="submit" class="btn btn-link" style="color: rgba(255, 255, 255, 0.8); text-decoration: none; border: none; padding: 0; margin-top: 10px; display: flex; align-items: center;">
                <i class="fas fa-sign-out-alt"></i>
                <span style="margin-left: 10px;">Logout</span>
            </button>
        </form>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Register">
            <i class="fas fa-user-plus"></i>
            <span>Register</span>
        </a>
        <a asp-area="Identity" asp-page="/Account/Login" style="margin-top: 10px;">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    }
</ul>
